<form method="post" action="{{ path('formation_delete', {'formation': formation.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de vouloir supprimer la formation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
    <button class="btn btn-danger">
        <i class="fa fa-trash"></i>
        Supprimer
    </button>
</form>