{% extends 'base.html.twig' %}

{% block title %}Nos formations{% endblock %}

{% block body %}
    <h1>Nos formations</h1>

    <hr class="text-dark" style="opacity: unset;">

    <section class="row">
        {% for formation in formations %}
            <div class="col-4">
                {% include 'partials/_card_formation.html.twig' with {formation} %}
            </div>
        {% endfor %}
    </section>
{% endblock %}
