{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
    <h1 class="text-dark">CEFIM, l’école du web et des réseaux !</h1>

    <hr class="text-dark" style="opacity: unset;">

    <section class="row mb-5">
        <h2 class="text-center">SINCE 2002 !</h2>

        <article class="col mt-2">
            <p><strong class="text-primary">Créé par des passionnés du numérique dès 2002, CEFIM est un organisme de formation spécialisé dans les
                métiers de la tech et que ça !</strong></p>
            <p>Nous sommes installés à Tours et à Orléans dans la Région Centre-Val de Loire et nous formons aujourd’hui
                des
                personnes venant de toute la région qui cherchent à changer de métier, de filière ou à prolonger leur
                parcours initial.</p>
            <p>Toutes nos formations mixent le présentiel et le téléprésentiel. On pourrait en dire beaucoup là-dessus,
                mais
                ce sont des modalités que nous développons depuis 2018, bien avant le « vous savez quoi ».</p>
            <p>Notre objectif est de permettre au plus grand nombre d’accéder à nos formations et la limite géographique
                peut être facilement contournée par de belles séquences de formation à distance (et en direct), mais
                pour
                autant nous considérons que c’est bien de pouvoir se croiser IRL (in real life) de temps en temps pour
                plein
                de bonnes raisons, mais pour le dire vite, c’est essentiellement parce que nous sommes des êtres sociaux
                qui
                ont aussi besoin de vrais contacts humains.</p>
        </article>
    </section>

    <section class="row gx-5 mb-5">
        <article class="col-4 mb-5">
            <h3 class="text-center mb-3">PIONNIER</h3>

            <div class="text-center mb-3">
                <i class="fa-regular fa-hand-back-fist fa-2xl text-primary"></i>
            </div>

            <p>Depuis le début, à <strong class="text-primary">sa création en 2001</strong>, CEFIM porte la vision que le <strong class="text-primary">numérique change tout</strong> et qu’il faut
                <strong class="text-primary">permettre à chacun de s’y adapter</strong>.
            </p>
        </article>

        <article class="col-4 mb-5">
            <h3 class="text-center mb-3">PROFESSIONNELS</h3>

            <div class="text-center mb-3">
                <i class="fa-regular fa-thumbs-up fa-2xl text-primary"></i>
            </div>
            <p>Des formateurs <strong class="text-primary">permanents qualifiés</strong>, des intervenants <strong class="text-primary">pro externes</strong>, des <strong class="text-primary">workshops</strong>, des <strong class="text-primary">masterclass</strong>… Nos
                formations sont tournées vers l’emploi !
            </p>
        </article>

        <article class="col-4 mb-5">
            <h3 class="text-center mb-3">EXCELLENCE</h3>

            <div class="text-center mb-3">
                <i class="fa-solid fa-medal fa-2xl text-primary"></i>
            </div>
            <p>CEFIM est labellisé <strong class="text-primary">QUALIOPI</strong> pour les actions de formation et les actions de formation par apprentissage
                et
                pour certaines formations " <strong class="text-primary">Grande Ecole du Numérique</strong> " . Un gage d’excellence !</p>

        </article>

        <article class="col-4 mb-5">
            <h3 class="text-center mb-3">EMPLOI</h3>

            <div class="text-center mb-3">
                <i class="fa-solid fa-rocket fa-2xl text-primary"></i>
            </div>

            <p>Du contenu des formations au développement d’un réseau d’entreprises, <strong class="text-primary">notre mission n’a de sens</strong> que si
                nos
                étudiants (re)<strong class="text-primary">trouvent un emploi rapidement</strong> à l’issue de leur formation.</p>

        </article>

        <article class="col-4 mb-5">
            <h3 class="text-center mb-3">CONVIVIALITÉ</h3>

            <div class="text-center mb-3">
                <i class="fa-regular fa-face-grin-beam fa-2xl text-primary"></i>
            </div>
            <p><strong class="text-primary">Aux petits soins pour nos étudiants</strong>, nos formateurs sont dévoués et attentifs à la qualité de vie dans
                nos
                formations.</p>
        </article>

        <article class="col-4 mb-5">
            <h3 class="text-center mb-3">ÉCOUTE</h3>

            <div class="text-center mb-3">
                <i class="fa-solid fa-bolt-lightning fa-2xl text-primary"></i>
            </div>
            <p>Nous nous remettons en cause à chaque formation pour <strong class="text-primary">être en phase avec les besoins du marché</strong> et
                atteindre
                une qualité irréprochable de nos formations</p>
        </article>
    </section>

    <section class="row mb-5">
        <h2 class="text-center">LA PARTICULARITÉ DU CEFIM ?</h2>

        <article class="col mt-2">
            <p>
                <strong class="text-primary">Des filières de formation permettant de se former dans le “Web et Développement”, “L’infrastructure et
                la
                    cybersécurité” ou le “Webmarketing et la data” avec un niveau de certification allant jusqu’à Bac+5.</strong>
            </p>

            <p>
                Autrement dit, nous offrons la possibilité de se former “en plusieurs fois”. A l’issue d’une première
                formation,
                on peut partir travailler ou on peut décider de poursuivre avec une autre formation. Et généralement on
                préconise dans ce cas l’alternance, <strong class="text-primary">(ah oui, on est aussi Centre de formation d’Apprentis – CFA)</strong>. C’est
                pas
                mal
                d’avoir le temps de se former et de monter en compétences avant de retourner vers le marché de l’emploi
                !
                D’autant plus que la demande des entreprises du secteur est de plus en plus exigeante.
            </p>

            <p>
                <strong class="text-primary">Bref, notre mission est de découvrir, former et accompagner les futurs talents du numérique et le plus
                souvent
                    dans la bonne humeur !</strong>
            </p>
        </article>
    </section>

    <section class="row mb-5">
        <h2 class="text-center">36 SALARIÉS POUR FAIRE QUOI ?</h2>

        <article class="col mt-2">
            <p>
                Comme indiqué précédemment, la Team CEFIM est composée de 36 salariés permanents.
            </p>
            <p>
                Parmi ceux-ci, 20 formateurs qui disposent tous d’au moins un diplôme supérieur et de plusieurs années
                d’expériences professionnelles dans le domaine de formation dispensée.
            </p>
            <p>
                Nous pouvons aussi compter sur un service administratif d’expérience, ayant une connaissance fine de
                l’ensemble
                des dispositifs et acteurs de la formation. Travailler avec le Pôle Admin du CEFIM, c’est la certitude
                de
                trouver une réponse précise et rapide.
            </p>
            <p>
                Le sourcing des candidats est quant à lui assuré par notre Pôle développement : 8 personnes dédiées, en
                charge
                d’aller aux plus près des candidats.
                Les techniques sont nombreuses : relation de proximité avec les prescripteurs (Pôle Emploi, Missions
                Locales,
                Cap Emploi, Organismes d’accompagnement professionnelles), Webinaires, salons, forums, recherche sur les
                plateformes de CVs, phoning, emailing, publicité sur les réseaux sociaux, achat de mots clés, etc… nos
                conseillers sont de véritables challenger toujours prêts à relever le défi de trouver des candidats
                motivés
                et
                de qualité.
                Nous pensons que notre métier n’a de sens que s’il permet aux personnes qui viennent se former chez nous
                de
                trouver un emploi rapidement après leur formation. Pour atteindre cet objectif, nous mettons les petits
                plats
                dans les grands. Nous disposons d’abord d’un service emploi dédié à cette mission : coaching collectif
                et
                individuel ; technique de recherche, atelier CV, simulation d’entretien, etc… avec une moyenne de 85% de
                retour
                à l’emploi en moins de 6 mois, nous avons encore une marge de progression et nous y travaillons !
            </p>
            <p>
                Enfin, que serait un organisme de formation sans les entreprises ! Elles sont nos plus fidèles alliées !
                Toujours prêtes à venir participer à des job dating, à proposer des projets, des stages, des
                alternances.
                Nous
                disposons même d’un job board pour qu’elles publient leurs offres d’emploi : https://job.cefim.eu/
                Elles jouent également un rôle déterminant dans la définition du contenu de nos formations.
            </p>
        </article>
    </section>
{% endblock %}





