{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
    <h1>A propose de nous</h1>

    <hr>

    <section>
        <h2>Nos équipes</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at dolorem et laudantium pariatur placeat quasi quod similique unde veritatis! Cum cumque dolorum eligendi itaque, possimus soluta. Explicabo, maxime, quis!</p>
    </section>
{% endblock %}
