{% extends 'base.html.twig' %}

{% block title %}Nous conctacter{% endblock %}

{% block body %}
    <h1 class="text-dark">Nous contacter</h1>

    <hr class="text-dark" style="opacity: unset;">

    <section>
        {{ form_start(contact_form) }}
            {{ form_widget(contact_form) }}

            <button class="btn btn-primary col-2 offset-10">Envoyer</button>
        {{ form_end(contact_form) }}
    </section>
{% endblock %}

