{% extends 'base.html.twig' %}

{% block title %}Nous conctacter{% endblock %}

{% block body %}
    <h1 class="text-dark">Nous contacter</h1>

    <hr class="text-dark" style="opacity: unset;">

    <section>
        <p class="alert alert-warning">Mettre un formulaire ici !</p>
    </section>
{% endblock %}

