{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue !</h1>

    <hr>

    <section class="row">
        <h2>Lorem</h2>

        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, asperiores atque consectetur cumque dolorum ducimus est eveniet id incidunt inventore ipsa natus nesciunt officia qui quo rem repellat saepe sunt?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, asperiores atque consectetur cumque dolorum ducimus est eveniet id incidunt inventore ipsa natus nesciunt officia qui quo rem repellat saepe sunt?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, asperiores atque consectetur cumque dolorum ducimus est eveniet id incidunt inventore ipsa natus nesciunt officia qui quo rem repellat saepe sunt?
            </p>
        </article>
    </section>

    <hr>

    <section class="row">
        <h2>Lorem</h2>

        <article>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, asperiores atque consectetur cumque dolorum ducimus est eveniet id incidunt inventore ipsa natus nesciunt officia qui quo rem repellat saepe sunt?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, asperiores atque consectetur cumque dolorum ducimus est eveniet id incidunt inventore ipsa natus nesciunt officia qui quo rem repellat saepe sunt?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, asperiores atque consectetur cumque dolorum ducimus est eveniet id incidunt inventore ipsa natus nesciunt officia qui quo rem repellat saepe sunt?
            </p>
        </article>
    </section>

    <hr>
{% endblock %}
