{% extends 'base.html.twig' %}

{% block title %}Ajouter une filière{% endblock %}

{% block body %}
    <h1 class="text-dark">Ajouter une filière</h1>

    <hr class="text-dark" style="opacity: unset;">

    {% include 'filiere/_filiere_form.html.twig' %}
{% endblock %}